html{
    height: 100% !important;
}

html:has(dialog[open]){
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.logo{
    width: 10rem;
    max-height: auto;
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
}
.hero{
    position: relative;
    z-index: 3;

    background-size: cover;
    background-repeat: no-repeat;

    place-content: center;
    text-align: center;
}

.full{
    display: grid;
    place-content: center;
    min-block-size: 108vh;
}

.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.836);
    z-index: -1;
}

.dashboard{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh !important;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.overlap{
    border-radius: .5rem;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    position: relative;
    z-index: 3;

    max-width: 18rem;

    aspect-ratio: 1 / 1.2;
}
.overlap::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.875);

    z-index: -1;

    border-radius: .25rem;
}

.overlapimg img{
    z-index: 1;
    filter: brightness(30%);
    object-fit: cover;
    height: 100%;
}

.overlap > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}


.overlap > a {
    display: block;
    place-self: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 3ms ease-in-out;

    z-index: 3;

    letter-spacing: .25ch;
}

.overlap > a:hover{
    color: #11550a;
}

footer li a {
    text-decoration: none;
}
@media only screen and (min-width: 800px) {
    .mw-80{
        max-width: 50%;
    }
}
@media only screen and (max-width: 800px) {
    .hero{
        min-block-size: 60vh !important;
    }
    .full{
        min-block-size: 60vh !important;
    }
}

footer{
    margin-top: auto;
}


dialog{
    border: 1px solid black;
    border-radius: .5rem;

    padding: 1.5rem;
}

dialog::backdrop{

    background-color: rgba(0, 0, 0, 0.875);
    backdrop-filter: blur(4px);
}


.card-text{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4;
   -webkit-box-orient: vertical;
}
